.quickviewwoo-product {
  position: relative;
  background: #fff;
  padding: 15px;
  width: auto;
  margin: 20px auto;
  border: 1px solid #000;
  max-width: 100%;
  color: #43454b;
  font-size: 16px;
}

.quickviewwoo-product h1,
.quickviewwoo-product h2,
.quickviewwoo-product h3,
.quickviewwoo-product h4,
.quickviewwoo-product h5,
.quickviewwoo-product h6 {
  margin: 0 0 20px;
  color: inherit;
}

.quickviewwoo-product p {
  margin-bottom: 15px;
}

.quickviewwoo-product label,
.quickviewwoo-product .label {
  color: inherit;
}

.quickviewwoo-product > .type-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  position: relative;
}

.quickviewwoo-product .quickviewwoo-onsale {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
  color: #43454b;
  border: 1px solid #9c9ead;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 3px;
}

.quickviewwoo-product .quickviewwoo-product_title {
  font-size: 24px;
  margin-bottom: 10px;
  padding-right: 25px;
}

.quickviewwoo-product form.cart .quantity {
  float: left;
  margin-right: 10px;
  height: 50px;
}

.quickviewwoo-product form.cart .qty {
  height: 100%;
  max-width: 60px;
  min-width: 50px;
  font-size: 14px;
  border-width: 1px;
}

.quickviewwoo-product form.cart .quantity-wrap .quantity {
  margin-right: 0;
}

.quickviewwoo-product form.cart table.variations {
  table-layout: fixed;
  width: auto;
  margin-bottom: 15px;
}

.quickviewwoo-product form.cart table.variations td {
  border: 0;
  position: relative;
  padding: 5px;
}

.quickviewwoo-product form.cart table.variations td.label {
  max-width: 70px;
  margin: 0 5px 0 0;
  padding-right: 10px;
}

.quickviewwoo-product form.cart table.variations td.label label {
  margin: 0;
}

.quickviewwoo-product form.cart table.variations select {
  padding: 6px 25px 6px 10px;
  font-size: 13px;
  height: auto;
}

.quickviewwoo-product form.cart .woocommerce-variation-price {
  margin-bottom: 20px;
}

.quickviewwoo-product form.cart .reset_variations {
  position: absolute;
  color: inherit;
  left: 100%;
  top: 50%;
  font-size: 13px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 0 0 5px;
  white-space: nowrap;
}

.quickviewwoo-product .single_add_to_cart_button {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.quickviewwoo-product .single_add_to_cart_button.disabled {
  opacity: .7;
  pointer-events: none;
  cursor: not-allowed;
}

.quickviewwoo-product ins {
  background: none;
  text-decoration: none;
}

.quickviewwoo-product .quickviewwoo-product-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
}

.quickviewwoo-product .quickviewwoo-review-link {
  margin-left: 10px;
}

.quickviewwoo-product .quickviewwoo-star-rating {
  overflow: hidden;
  position: relative;
  height: 22px;
  line-height: 1.618;
  font-size: 14px;
  width: 74px;
  font-family: 'star';
  font-weight: 400;
}

.quickviewwoo-product .quickviewwoo-star-rating::before {
  content: '\53\53\53\53\53';
  opacity: 0.25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.quickviewwoo-product .quickviewwoo-star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 20px;
}

.quickviewwoo-product .quickviewwoo-star-rating span::before {
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  left: 0;
  color: #edab00;
}

.quickviewwoo-product .quickviewwoo-product_meta {
  clear: both;
  font-size: 14px;
  margin-top: 20px;
}

.quickviewwoo-product .quickviewwoo-product_meta > span {
  display: block;
  margin: 0;
}

.quickviewwoo-product .quickviewwoo-summary {
  float: none !important;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  margin-bottom: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery {
  float: none !important;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin-bottom: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
  outline: 0;
  border: 0;
  padding: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .thumbnails {
  padding: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .flex-viewport {
  margin-bottom: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .flex-control-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  zoom: 1;
  margin: 0 -5px;
  padding: 0;
  list-style: none;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .flex-control-thumbs li {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  margin: 10px 0 0 0;
  border: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .flex-control-thumbs li img {
  cursor: pointer;
  opacity: .5;
  margin: 0;
  padding: 0;
  border: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .flex-control-thumbs li img.flex-active,
.quickviewwoo-product .type-product .quickviewwoo-product-gallery .flex-control-thumbs li img:hover {
  border: 0;
  opacity: 1;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 16px;
  z-index: 9;
  width: 36px;
  height: 36px;
  background: #fff;
  text-indent: -9999px;
  border-radius: 100%;
  box-sizing: content-box;
  outline: 0;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .woocommerce-product-gallery__trigger:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 100%;
  position: absolute;
  top: 9px;
  left: 9px;
  box-sizing: content-box;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .woocommerce-product-gallery__trigger:after {
  content: "";
  display: block;
  width: 2px;
  height: 8px;
  background: #000;
  border-radius: 6px;
  position: absolute;
  top: 19px;
  left: 22px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: content-box;
}

.quickviewwoo-product .type-product .quickviewwoo-product-gallery .woocommerce-product-gallery__trigger:active,
.quickviewwoo-product .type-product .quickviewwoo-product-gallery .woocommerce-product-gallery__trigger:focus {
  outline: 0;
}

.quickviewwoo-product .woocommerce-grouped-product-list {
  margin-bottom: 20px;
}

.quickviewwoo-product .woocommerce-grouped-product-list td {
  padding: 8px;
  width: auto;
  vertical-align: middle;
}

.quickviewwoo-product .woocommerce-grouped-product-list .quantity-wrap {
  margin: 0;
}

.quickviewwoo-product .woocommerce-grouped-product-list .qty {
  height: auto;
}

.quickviewwoo-product .quantity-wrap .qty-btn {
  display: none;
}

.quickviewwoo-modal-open {
  overflow: hidden;
}

.quickviewwoo-modal .mfp-close {
  color: inherit;
  position: absolute;
  font-size: 16px;
  padding: 0;
}

.quickviewwoo-button {
  cursor: pointer;
}

@media (max-width: 767px) {
  .quickviewwoo-product {
    min-height: 100vh;
    max-width: 100% !important;
    overflow: scroll;
    border: 0;
    margin: 0;
  }

  .quickviewwoo-product > .type-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .quickviewwoo-product .quickviewwoo-product-gallery,
  .quickviewwoo-product .quickviewwoo-summary {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .quickviewwoo-product .quickviewwoo-product-gallery {
    margin-bottom: 25px;
  }

  .quickviewwoo-product .quickviewwoo-product-gallery .flex-control-thumbs li {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }

  .quickviewwoo-modal.mfp-wrap {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  .quickviewwoo-modal .mfp-container {
    padding: 0;
  }

  .quickviewwoo-modal .mfp-close {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}